input{
    background: transparent;
    color: var(--white-text);
    font-size: .85rem;
}
.formContainer{
    padding: 2rem 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details{
    display: flex;
    justify-content: space-evenly;

}
.details>input{
    max-width: 50%;
    border-bottom: 2px solid gray;
}

.btn{
    padding: .75rem 2rem;
    font-size: .85rem;
    font-weight: var(--font-medium);
    background-color: var(--skin-color);
    text-transform: uppercase;
    color: var(--white-text);
    cursor: pointer;
    border-radius: 50px;
    border: 0;
  }
  .btn:hover{
    background: var(--skin-color);
    opacity: .95;
    color: var(--white-text);
    transition: .3s;
  }

  .email{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .email>input{
    padding: 0 .5rem;
    background-color: white;
    border-radius: 50px ;
    width: 50%;
    color: var(--dark-text);
  }
  .email>button{
   position: relative;
   left: -3rem;
  }