.socials{
    display: flex;
    justify-content: center;
    color: var(--white-text);
    gap: 1rem;
    padding: .5rem ;
}
.footerTerms{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem ;
}
.footerTerm{
    color: var(--white-text);
    font-size: .75rem;
    text-decoration: none;
}
.footerCopy{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem ;
    color: var(--white-text);
    font-size: .75rem;
    text-decoration: none;
}