.card{
   padding: 1rem 1.25rem .75rem;
   text-align: center;
}
.card h2{
 font-size: var(--font-size-m);
 font-weight: var(--font-bold);
}
.card p{
    font-size: .85rem;
    font-weight: var(--font-medium);
   }