@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Kanit:wght@400;500;600;700;800;900&family=Lobster&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

@import url('https://cdn.syncfusion.com/ej2/material.css');



:root{
  --bg-color-glass: rgba(255, 255, 255, 0.164);
  --bg-color-black: linear-gradient(to bottom, #55085f,#210330, #0f0c29  );
  --skin-color:#271ac1;  
  --skin-color2: #ff00cc;
  --active-item: #302b63; 

  --white-text:#fff;
  --dark-text:#04040a;
  --box-shadow: 0 .75rem 1.5rem rgba(3, 3, 3, 0.566);

  --font-medium: 500;
  --font-semibold:600;
  --font-bold:800;
  --font-E-bold:900;

  --bdy-font-family: "kanit" , sans-serif;
  --bdy-font-family-alt: "poppins" , sans-serif;
  --bdy-font-family-alt2: "Merriweather" , sans-serif;
  --bdy-font-family-alt3: 'lobster', cursive;
  --bdy-font-family-alt4: 'clicker script', cursive;
  
  --font-size-m: 1.5rem;
  --font-size-nr: 1rem;
  
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--bdy-font-family-alt);
  font-size: 16px;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  font-size: var(--font-size-nr);
  background: url(./Assets/Path\ 1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-text);
  transition: all .3s ease;
}

::before, ::after
{
    box-sizing: border-box;
}





ul{
  list-style: none;
}

input,button{
  font-family: var(--bdy-font-family);
  outline: none;
  border: none;
}

/* reuseable */
.body{
  width: 100%;
  min-height: 100vh; 
}
.main-container{
  width: 100%;
  min-height: 100vh;
  padding: 1rem 0;
}
.homeContainer{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -100vh;
  z-index: 10;
}
.content{
  max-width: 800px;
  margin: 1rem auto;
}



::-webkit-scrollbar {
  width: 6px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}


/* reuseable */
