.footer-container{
   display: block;
   margin-top: 3rem;
   margin-bottom: -2rem;
}
.Footer{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    background: url('../../Assets/Ellipse\ 4.svg');
    background-size: cover;
    z-index: 10;
}
.bgImg3{
    position: absolute;
    left: 25%;
    z-index: 1;
    width: 6rem;
    opacity: .7;
}