.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 .5rem ;
}
.header>h3{
    font-size: var(--font-size-m);
    font-weight: 700;
}